Package: com.barfie.actionsbank
Name: ActionsBank
Depends: mobilesubstrate, firmware (>= 14.0), com.anthopak.powercuts (>= 1.1)
Version: 1.0
Architecture: iphoneos-arm
Description: My action bank for iOS shortcuts
Maintainer: Hamdan
Author: Hamdan
Section: Tweaks
